.boards-wrapper {
    width: min(85vw, 500px);
}

.boards-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.item-wrapper {
    display: flex;
    flex-direction: column;
}

.board-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.1s ease-in, color 0.2s ease-in-out;
    border-radius: 5px;
    padding-inline: 5px;
}

.board-item:hover {
    background: rgba(205, 205, 205, 0.19);
    transform: scale(1.03);
}

.board-item:hover a {
    color: rgb(71, 71, 71);
}

.board-item-last-used {
    font-size: 0.8rem;
    color: rgb(185, 185, 185);
}

hr {
    border: 0px;
    height: 2px;
    border-radius: 2px;
    background-color: rgb(202, 183, 122);
}

.board-item-name {
    color: rgb(185, 185, 185);
    font-size: 1.2rem;
    margin-bottom: 2px;
}

#board-input, #boart-input:hover, #board-input:focus {
    border-width: 0;
}



@media only screen and (max-width: 792px) {
    .container-boards {
        margin-top: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .board-item {
        padding: 5px;
    }

    .board-item:hover {
        background: rgba(205, 205, 205, 0.19);
        transform: scale(1.03);
    }

    .board-item:hover a {
        color: rgb(71, 71, 71);
    }

    .board-item-last-used {
        font-size: .8rem;
        color: rgb(185, 185, 185);
    }

    .board-item a {
        color: rgb(185, 185, 185);
        font-size: 1rem;
        margin-bottom: 2px;
    }
}